@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color: black;
}


.layout {
  @apply min-h-full w-full flex flex-col bg-white;
}

.layout__header {
  @apply w-full w-full;
}

.layout__main {
  @apply flex flex-col flex-grow items-center ;
}


.home {
  @apply flex flex-col items-center justify-between text-center md:space-y-32 sm:space-y-24;
}

.home__logo-container {
  @apply flex flex-col items-center space-y-4 p-4;
}

.home__logo-container__logo-image {
  @apply w-52 h-52 md:w-40 md:h-40 sm:w-32 sm:h-32;
}

.home__logo-container__heading {
  @apply text-4xl font-bold mb-4 text-black md:text-2xl sm:text-xl;
}

.home__logo-container__description {
  @apply text-lg mb-8 max-w-2xl md:text-base sm:text-sm;
}

.home__buttons {
  @apply flex items-center justify-center space-x-4 mb-8;
}

.home__donation {
  @apply rounded border border-slate-300 rounded-2xl space-x-2 px-2 py-1 flex items-center sm:m-1 md:m-0;
}

.home__donation-link {
  @apply hover:underline text-blue-500;
}

.home__donation-text {
  @apply text-gray-500;
}

.header {
  @apply z-10 sticky top-0 w-full flex justify-between items-center lg:py-4 md:py-2 sm:py-1 shadow-md border-b border-slate-400 bg-white lg:px-40 md:px-16 sm:px-1;
}

.header__logo {
  @apply flex items-center md:space-x-4 sm:space-x-1;
}

.header__logo-image {
  @apply md:w-10 md:h-10 sm:w-6 sm:h-6;
}

.header__title {
  @apply font-bold xl:text-2xl lg:text-xl md:text-base sm:text-xs;
}

.header__nav {
  @apply flex items-center xl:space-x-4 lg:space-x-4 md:space-x-2 sm:space-x-0.5 ;
}

.header__nav__menu-icon {
  @apply sm:block md:hidden m-2 text-black;
}
.header__nav__menu {
  @apply sm:block md:hidden absolute bg-white text-nowrap rounded-lg shadow border right-auto left-56 gap-2 px-2 mt-44;
}

.header__nav__bar {
  @apply flex items-center xl:space-x-4 lg:space-x-4 md:space-x-2 sm:space-x-0.5;
}
.header__nav-item {
  @apply hover:rounded-md hover:underline text-sky-600 border border-transparent font-semibold lg:text-lg md:text-sm sm:text-xs lg:px-4 sm:px-0.5 md:px-1 lg:py-2 md:py-1 sm:py-px sm:text-center md:text-left;
}
.header__nav-item--menu {
  @apply relative text-xs px-0.5 m-2 p-2 text-center;
}
.header__nav-item--menu:not(:last-child)::after {
  content: '';
  display: block;
  height: 1px;
  background: #ccc;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header__nav-item--bar {
  @apply sm:hidden md:block;
}

.header__nav-link {
  @apply hover:border md:hover:border-gray-300 hover:rounded-md text-gray-600 border border-transparent lg:text-lg md:text-sm sm:text-xs lg:px-4 sm:px-2 md:px-2 lg:py-2 md:py-1 sm:py-px sm:py-px sm:text-center md:text-left px-4 py-2 rounded;
}

.header__divider {
  @apply h-6 border-l border-gray-300;
}

.account-menu {
  @apply relative;
}

.account-menu__toggle {
  @apply relative cursor-pointer p-1;
}

.account-menu__user {
  @apply flex justify-center items-center space-x-3;
}

.account-menu__avatar {
  @apply rounded-full overflow-hidden w-8 h-8 object-cover lg:w-8 lg:h-8 md:w-8 md:h-8 sm:w-8 sm:h-8;
}

.account-menu__username {
  @apply font-semibold text-gray-900 lg:text-lg md:text-xs sm:hidden lg:block;
}

.account-menu__menu {
  @apply absolute bg-white text-nowrap rounded-lg shadow border right-auto left-auto md:right-auto md:-left-24 sm:-left-36 lg:px-5 lg:py-3 sm:px-2 sm:py-1 sm:mt-2 md:mt-3 lg:mt-5;
}

.account-menu__item {
  @apply font-medium text-lg md:text-sm sm:text-xs lg:text-lg;
}

.account-menu__item-icon {
  @apply mr-3 w-8 h-8 sm:w-4 sm:h-4 lg:w-8 sm:h-8;
}

.account-menu__divider {
  @apply sm:my-0 lg:my-2;
}

.account-menu__item-link {
  @apply flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-blue-500 cursor-pointer sm:p-0.5 lg:p-2;
}

.account-menu__item-link-logout {
  @apply flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-red-600 cursor-pointer text-red-600 md:p-1 sm:p-1 lg:p-2;
}

.about {
  @apply flex flex-col items-center min-h-screen bg-white md:p-8 sm:px-2 sm:pt-8;
}

.about__header {
  @apply text-center flex items-center justify-center;
}

.about__logo {
  @apply w-20 h-20;
}

.about__title {
  @apply font-bold px-4 py-8 md:text-3xl sm:text-2xl;
}

.about__intro {
  @apply text-center sm:mt-2 lg:mt-8 ;
}

.about__subtitle {
  @apply text-lg  text-gray-500 lg:mt-4 sm:mt-1 lg:pb-20 sm:pb-5 md:text-base sm:text-sm;
}

.about__description {
  @apply text-lg max-w-5xl mx-auto pb-4 text-gray-500 md:text-base sm:text-sm;
}

.about__features {
  @apply lg:mt-12 sm:mt-6 flex flex-col justify-center lg:gap-8 sm:gap-4 md:w-4/5 sm:w-full;
}

.feature-card {
  @apply lg:w-2/3 sm:w-full md:w-5/6 flex rounded bg-slate-100 items-center justify-center sm:p-3 lg:p-2 sm:py-4 lg:py-5;
}

.feature-card--left {
  @apply flex-row;
}

.feature-card--right {
  @apply flex-row-reverse m-[0_0_0_auto];
}

.feature-card__icon {
  @apply mx-4 text-gray-500 h-32 w-32;
}

.feature-card__icon--left {
  @apply lg:ml-10 sm:ml-0;
}

.feature-card__icon--right {
  @apply lg:mr-10 sm:mr-0;
}

.feature-card__content--left {
  @apply lg:pr-10 sm:pr-0 w-4/5;
}

.feature-card__content--right {
  @apply lg:pl-10 sm:pl-2 w-4/5;
}

.feature-card__title {
  @apply sm:text-base md:text-lg lg:text-xl font-bold text-black;
}

.feature-card__text {
  @apply mt-2 text-left text-black text-gray-500 sm:text-xs md:text-base lg:text-lg;
}

.login {
  @apply flex flex-col items-center justify-center h-[90vh];
}

.login-form {
  @apply flex flex-col items-center justify-center bg-white md:p-8 sm:p-4 rounded-lg shadow-lg w-full max-w-md;
}

.login-form__title {
  @apply md:text-2xl sm:text-lg font-bold md:mb-4 sm:mb-2 text-center;
}

.login-form__form {
  @apply md:space-y-4 sm:space-y-1 w-full;
}

.login-form__footer {
  @apply lg:mt-12 md:mt-8 sm:mt-4 text-center;
}

.login-form__footer-text {
  @apply text-gray-600;
}



.input {
  @apply flex flex-col items-start w-full sm:mb-2 md:mb-6;
}
.input__label {
  @apply block mb-2 text-sm font-medium text-gray-900;
}
.input__label--success {
  @apply text-green-700;
}
.input__label--error {
  @apply text-red-700;
}
.input__field {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}
.input__field--success {
  @apply bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500;
}
.input__field--error {
  @apply bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500  focus:border-red-500;
}

.input__message {
  @apply mt-2 text-sm;
}
.input__message--success {
  @apply text-green-600;
}
.input__message--error {
  @apply text-red-600 text-sm;
}


.edit-profile {
  @apply flex flex-col items-center justify-between text-center space-y-24 lg:mt-4 sm:mt-2 md:mt-6 w-5/6;
}

.edit-profile-form {
  @apply flex items-center justify-center bg-white md:p-8 sm:p-4 rounded-lg shadow-lg w-full max-w-4xl;
}

.edit-profile-form__form {
  @apply w-full space-y-4;
}

.edit-profile-form__title {
  @apply lg:text-4xl md:text-2xl sm:text-xl font-bold mb-4 text-gray-600;
}

.signup-page {
  @apply flex flex-col items-center justify-center h-[90vh];
}
/*---------------------------*/

.login-form__link {
  @apply text-blue-600 hover:underline text-sm;
}
.form-footer {
  @apply sm:block md:hidden text-sm p-2
}

.signup-page__anchor {
  @apply text-gray-700 text-sm no-underline my-4;
}
.signup-page__button {
  @apply rounded-full border-2 text-xs font-bold py-3 px-11 uppercase tracking-wider transform transition-transform duration-100 ease-in active:scale-95 focus:outline-none;
}
.signup-page__form {
  @apply bg-white flex items-center justify-center flex-col px-12 h-full text-center gap-2 py-8;
}
.signup-page__input {
  @apply m-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}
.signup-page-layout {
  @apply bg-white rounded-lg shadow-lg relative overflow-hidden sm:w-[300px] md:w-[678px] max-w-full min-h-[350px];
}
.signup-page__overlay {
  @apply bg-gradient-to-r from-cyan-500 to-blue-500 text-white absolute left-[-100%] h-full w-[200%] transform transition-transform duration-500 ease-in-out ;
}
.signup-page__overlay--signup {
  @apply translate-x-1/2;
}
.signup-page__overlay-container {
  @apply sm:hidden md:block absolute top-0 left-1/2 w-1/2 h-full overflow-hidden transition-transform duration-500 ease-in-out z-50;
}
.signup-page__overlay-container--signup {
  @apply transform -translate-x-full;
}
.signup-page__overlay-panel {
  @apply absolute flex items-center justify-center flex-col px-10 text-center top-0 h-full w-1/2 transform transition-transform duration-500 ease-in-out;
}
.signup-page__overlay-panel--left {
  @apply transform -translate-x-[20%];
}
.signup-page__overlay-panel--left--signup {
  @apply transform translate-x-0;
}
.signup-page__overlay-panel--right {
  @apply right-0;
}
.signup-page__overlay-panel--right--signup {
  @apply transform translate-x-[20%];
}
.signup-page__paragraph {
  @apply text-sm font-light leading-5 tracking-wider my-5;
}
.signup-page__title {
  @apply text-xl font-bold m-0;
}
.signup-page__sign-up-layout {
  @apply absolute top-0 h-full transition-all duration-500 ease-in-out left-0 sm:w-full md:w-1/2 opacity-0 z-10
}
.signup-page__sign-up-layout--signup {
  @apply md:transform md:translate-x-full opacity-100 z-50
}
.signup-page__sign-in-layout {
  @apply absolute top-0 h-full transition-all duration-500 ease-in-out left-0 sm:w-full md:w-1/2 z-20
}
.signup-page__sign-in-layout--signup {
  @apply md:transform md:translate-x-full
}
/*---------------------------*/

.technologies-list {
  @apply flex flex-col items-center md:p-12 sm:p-8 md:w-5/6 lg:w-3/4;
}

.technologies-page__title {
  @apply text-center text-4xl font-bold;
}

.technologies-page__grid {
  @apply sm:mt-4 md:mt-12 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-8 sm:gap-2;
}

.technology-card {
  @apply flex items-center p-6 border border-white rounded shadow-md;
}

.technology-card__icon {
  @apply mr-4;
}

.technology-card__name {
  @apply md:text-lg lg:text-xl font-bold;
}

.technology-card__version {
  @apply text-gray-600;
}

.users-page {
  @apply flex flex-col;
}

.users-page__grid {
  @apply grid grid-cols-1 gap-8 p-8;
}

.user-card {
  @apply justify-between relative flex sm:flex-col-reverse md:flex-row items-center bg-white p-6 border border-gray-200 rounded-lg shadow-lg;
}

.user-card__content {
  @apply h-full flex flex-col md:w-1/2 md:pr-6 pl-4 sm:items-center md:items-start;
}

.user-card__name {
  @apply sm:text-2xl md:text-4xl font-bold text-black pt-8;
}

.user-card__divider {
  @apply w-9/12 border-t border-orange-500 my-4;
}

.user-card__title {
  @apply mt-2 flex items-center text-black font-bold md:text-base sm:text-sm;
}

.user-card__location {
  @apply mt-2 flex items-center text-gray-600 md:text-base sm:text-sm;
}

.user-card__title-icon,
.user-card__location-icon {
  @apply inline-block mr-2 text-orange-500;
}

.user-card__description {
  @apply my-8 line-clamp-3 md:text-base sm:text-sm sm:text-justify ;
}

.user-card__bottom {
  @apply mt-auto;
}

.user-card__button {
  @apply mb-12 px-4 py-2 bg-orange-500 text-white font-bold rounded-3xl hover:bg-orange-600 transition text-sm items-center;
}

.user-card__social-icons {
  @apply flex space-x-4 text-gray-600 py-4 sm:justify-center md:justify-start ;
}

.user-card__avatar {
  @apply w-[40%] mt-6 md:mt-0 rounded-lg shadow-lg max-w-lg;
}

.user-by-id-page {
  @apply flex flex-col items-center md:p-6 sm:p-1;
}

.user-by-id-page__container {
  @apply flex flex-col items-center rounded-lg shadow-md sm:my-px md:my-6 sm:mx-1 md:mx-6 lg:mx-24;
}

.user-profile {
  @apply flex sm:flex-col-reverse md:flex-row sm:items-center justify-center md:items-start sm:p-1 md:p-6 rounded-lg;
}
.user-profile__avatar {
  @apply sm:w-4/5 md:w-1/3 p-4 flex flex-col items-center max-w-lg;
}
.user-profile__avatar__image {
  @apply w-full h-auto rounded-lg shadow-md;
}

.user-profile__details {
  @apply sm:w-full md:w-2/3 flex flex-col sm:items-center md:items-start items-start sm:p-2 md:p-6 rounded-lg;
}

.user-profile__title {
  @apply text-4xl font-bold text-black sm:text-center md:text-left;
}

.user-profile__divider {
  @apply w-9/12 border-t border-orange-500 my-4;
}

.user-profile__item {
  @apply flex flex-row items-center space-x-2 sm:w-9/12 md:w-full sm:text-sm md:text-base text-left;
}

.user-profile__item__title-icon,
.user-profile__item__location-icon {
  @apply inline-block sm:mr-0 md:mr-2 text-orange-500;
}

.user-profile__item__title-text {
  @apply text-black sm:w-3/4 md:w-full ;
}

.user-profile__item__location-text {
  @apply flex text-gray-700 sm:w-3/4 md:w-full;
}
.user-profile__item__location-text span {
  @apply sm:hidden md:block;
}

.user-profile__description {
  @apply sm:text-sm md:text-base text-gray-700 my-4 text-justify;
}

.todo-list {
  @apply md:w-2/3 m-6 max-w-lg;
}

.todo-list__header {
  @apply sm:text-xl md:text-2xl font-bold sm:mb-2 md:mb-4 text-black;
}

.todo-list__form {
  @apply flex mb-6;
}

.todo-list__form__input {
  @apply flex-grow p-2 border border-gray-300 rounded-md text-black;
}

.todo-list__form__button {
  @apply ml-2 px-4 py-2 bg-red-500 text-white rounded-md;
}

.todo-list__item {
  @apply flex items-center justify-between mb-2 text-black font-bold rounded bg-slate-100 py-2 px-4 w-full;
}

.todo-list__item__col {
  @apply w-1/3 flex items-center justify-end;
}

.todo-list__item__col:first-child {
  @apply w-2/3 justify-start;
}

.todo-list__item-text {
  @apply ml-4 w-full line-clamp-1;
}

.todo-list__item-text--completed {
  @apply line-through;
}

.todo-list__item-uncompleted {
  @apply rounded bg-slate-200 text-xs px-1 font-light;
}

.todo-list__item-checkbox {
  transform: scale(1.2);
}

.todo-list__button-delete {
  @apply ml-4 text-red-500 cursor-pointer;
}


.upload-photo-container {
  @apply flex items-center justify-center w-full;
}

.upload-photo-label {
  @apply flex flex-col items-center justify-center w-64 h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100 mb-4;
}

.upload-photo-label--with-image {
  @apply border-transparent;
}

.upload-photo-image {
  @apply object-cover h-full w-full;
}

.upload-photo-placeholder {
  @apply flex flex-col items-center justify-center bg-inherit;
}

.upload-photo-icon {
  @apply w-6 h-6 mb-2 text-gray-500 bg-inherit;
}

.upload-photo-text {
  @apply text-xs text-gray-500 bg-inherit;
}

.upload-photo-text--main {
  @apply mb-1;
}

.upload-photo-text--bold {
  @apply font-semibold;
}

.upload-photo-text--sub {
  @apply text-xs;
}

.upload-photo-input {
  @apply hidden;
}

/*block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500*/
.input__textarea {
  @apply block w-full p-2.5 text-sm text-gray-900 rounded-lg h-36 bg-gray-50 border border-gray-300 focus:border-blue-500 focus:ring-blue-500;
}

.edit-profile__hr {
  @apply mb-4;
}

.btn-primary {
  @apply bg-blue-500 text-white px-4 md:py-2 lg:py-3 rounded hover:bg-blue-700 disabled:bg-gray-400 sm:text-xs md:text-base ;
}

.btn-secondary {
  @apply px-4 py-2 rounded hover:border-sky-500 transition border border-transparent sm:text-xs md:text-base;
}

.error-fallback {
  @apply flex justify-center items-center h-full m-4;
}

.error-fallback__content {
  @apply flex flex-col items-center bg-white border border-gray-300 p-5 rounded-lg shadow-lg gap-4;
}

.loader-wrapper {
  @apply flex justify-center items-center h-screen w-screen fixed top-0 left-0 bg-white bg-opacity-80;
}

.inputs-group {
  @apply grid gap-4 sm:grid-cols-1 md:grid-cols-2;
}


.not-found {
  @apply flex flex-col h-[85vh];
}
.not-found__section {
  @apply flex-grow flex flex-col items-center justify-center text-center p-6;
}
.not-found__error-code {
  @apply text-8xl font-bold text-blue-500;
}
.not-found__title {
  @apply text-2xl font-semibold my-4;
}
.not-found__subtitle {
  @apply text-lg mb-8 w-2/3;
}





